<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920821932197-9m68vlkat7093fudmvd6c9pah3p8oadh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920821932197-9m68vlkat7093fudmvd6c9pah3p8oadh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>920821932197-iqqb443kp1bf7krs3m7mjbcl8l4cjst4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKG4-7d-YeQsl4UGZ0bnxoYrq5uMSB8N0</string>
	<key>GCM_SENDER_ID</key>
	<string>920821932197</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indigitalgroup.shoplocalnewpackageslt</string>
	<key>PROJECT_ID</key>
	<string>shoplocalto-f789e</string>
	<key>STORAGE_BUCKET</key>
	<string>shoplocalto-f789e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920821932197:ios:ea2125363e0c1c69dced4c</string>
</dict>
</plist>